*
{
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body{
    
    display: grid;
    grid-template-areas: "navCenter navCenter navCenter"
                         "container container container";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 100vh;                     





}

a
{
    text-decoration: none;
    color: black;

}

ul
{
    list-style: none;

}